@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Unica+One&display=swap");
@import "tailwindcss";
@theme {
  --font-mono: "IBM Plex Mono", monospace;
  --font-serif: "IBM Plex Serif", sans-serif;
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-display: "Red Hat Display", sans-serif;
  --font-brand: "Unica One", sans-serif;
}